h1 {
    text-align: center;
}

#all-text {
    margin-top: 2em;
}

/* styles for each article or amendments div */
.contents {
    border: 1px solid;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.contents p {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5px;
}

.contents h4 {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

.contents h3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* styles for annotation div */
.annotations {
    width: 78%;
    margin: auto;
    margin-bottom: 1em;
    border:1px solid;
    border-radius: 8px; 
}
.annotations p {
    margin: 1em 0.7em;
}

/* hard code to set each annotations div to non display as default */
#preamble, #article1, #article2,  #article3, #article4, #article5, #article6, #article7, #amend1,
#amend2, #amend3, #amend4, #amend5, #amend6, #amend7, #amend8, #amend9, #amend10{
    display:none;
}

/* styles for annotation button */
button {
    border: none;
    border-radius: 8px;
    padding: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color:#6ab0a1;
    color: white;
}

button:active {
    background-color:#518a7d;
}

/* quiz button */
#quiz {
    display: block;
    margin:2em auto;
    padding:0.9em;
}
