h1 {
    text-align: center;
}

#all-text {
    margin-top: 2em;
}

.contents {
    border: 1px solid;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

.contents p {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5px;
}

.contents h4 {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

.contents h3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
}